@{
    ViewData["Title"] = "Home Page";
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

@*  esta linha de comentário
    fica apenas no código
    NUNCA vai para o browser
*@

<div class="text-center">
    <h1 class="display-4">Cálculo das raízes de uma equação do 2º grau</h1>
    <img src="https://s3.static.brasilescola.uol.com.br/be/2020/03/shutterstock-355155302.jpg"
         alt="imagem com uma equação de 2º grau e respetiva fórmula resolvente"
         width="150" />
</div>

<form>
    a = <input type="text" id="A" name="A" /> <br />
    @* ID usado para aceder ao objecto 'input' no cliente 
       no browser com javascript
       NAME usado para aceder ao conteúdo do objecto no servidor
    *@
    b = <input type="text" name="B"/> <br />
    c = <input type="text" name="C"/> <br />
    <input type="submit" value="Calcular" />
</form>

@if(!string.IsNullOrEmpty(ViewBag.mensagem)){
    <p>
        @ViewBag.mensagem <br />
        x1=@ViewBag.x1 <br/>
        x2=@ViewBag.x2
    </p>
}